body{
background:no-repeat center center fixed;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, black, #080808);
  background-image: url
}

code{
  font-family: 'Rajdhani', sans-serif;
  font-size:1.58rem;
  color:rgb(255, 204, 0);
}

code:hover {
        color: #898989;
      }

span{
  font-size:1.3rem;
}

p{
  color:white;
  font-family: 'Arvo', serif;
  font-size:1.6rem;
  word-spacing: 0.3rem;
  margin-top:-10rem;
  padding: 300px;
  line-height: 60px;
}

a{
  color:white;
  font-family: 'Rajdhani', sans-serif;
  font-size:1.58rem;
  text-decoration:none;
-webkit-transition: color 0.2s; 
        transition: color 0.2s; 

}

    a:hover {
        color: #898989;
      }

.text{
  color:#05ce78;
}

div.sticky {
  color:white;
  position: -webkit-sticky;
  position: sticky;
  background-color:black;
  top: 0;
  border: solid;
  text-align: center;
  padding: 50px;
  margin-top: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

@media only screen and (max-width: 1200px)
    {
p{
  color:white;
  font-family: 'Arvo', serif;
  font-size:1rem;
  word-spacing: 0.3rem;
  margin-top:-8rem;
  padding: 180px;
  line-height: 28px;
  margin-left:-1rem;
}

a{
  color:white;
  text-align:center; 
  font-family: 'Rajdhani', sans-serif;
  font-size:1.1rem;
  text-decoration:none;
}

div.sticky {
  color:white;
  position: -webkit-sticky;
  position: sticky;
  background-color:black;
  top: 0;
  border: solid;
  text-align: center;
  padding: 30px;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 7.5rem;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(20px);
  }

  50% {
    transform: translatey(0px);
    font-color:white;
  }
}
  span{
  font-size:1rem;
}

code{
  font-size:1rem;
}

@media only screen and (max-width: 810px)
    {
p{
  color:white;
  font-family: 'Arvo', serif;
  font-size:1rem;
  word-spacing: 0.3rem;
  margin-top:-1rem;
  padding: 80px;
  line-height: 28px;
}

a{
  color:white;
  font-family: 'Rajdhani', sans-serif;
  font-size:1.1rem;
  text-decoration:none;
}

div.sticky {
  color:white;
  position: -webkit-sticky;
  position: sticky;
  background-color:black;
  top: 0;
  border: solid;
  text-align: center;
  padding: 30px;
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

span{
  font-size:1rem;
}

code{
  font-size:1rem;
}