html,body {
  margin: 0;
  scroll-snap-type: y mandatory;
  background:no-repeat center center fixed;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, black, #080808);
  background-image: url
}

code{
  font-family: 'Rajdhani', sans-serif;
  font-size:1.3vw;
  color:rgb(255, 204, 0);
}

code:hover {
        color: #898989;
      }

span{
  font-size:1vwrem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
}

.box {
  margin-top:0.2rem;
  padding: 4vw;
  width: 50vw;
  background: black;
  border:solid;
  border-color:white;
  cursor: zoom-in;
}

.text{
   color:#05ce78;
}

p {
  color:white;
  font-family: 'Arvo', serif;
  font-size: 1.2vw;
  line-height: 1.8vw;
  padding: 4vw;
}

.animation {
  transition: 0.5s ease;
}

.animation:hover {
  box-shadow: 0 15px 25px -25px #1F1F46;
  transform: translateY(-8px);
}

@media only screen and (max-width: 1600px)
    {
p {
  color:white;
  font-family: 'Arvo', serif;
  font-size: 1.5vw;
  line-height: 2vw;
  padding: 0.2vw;
}

.box {
  margin-top:0.8rem;
  width: 70vw;
  background: black;
  border:solid;
  border-color:white;
}

span{
  font-size: 1.5vw;
}

code{
  font-size: 1.5vw;
}
}

@media only screen and (max-width: 810px)
    {

p {
  color:white;
  font-family: 'Arvo', serif;
  font-size: 3vw;
  line-height: 4vw;
  padding: 4vw;
}

.box {
  margin-top:-1rem;
  width: 80vw;
  background: black;
  border:solid;
  border-color:white;
}

span{
  font-size: 3vw;
}

code{
  font-size: 3vw;
}
}