body{
  background:no-repeat center center fixed;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, black, #080808);
  background-image: url
}

a{
  font-family: 'Arvo', serif;
  font-size:1.6rem;
  font-style:normal;
  text-decoration:none;
  color:dimgrey;
    text-decoration: inherit;
   -webkit-transition: color 0.2s; 
        transition: color 0.2s; 

}

    a:hover {
        color: white;
        text-decoration:underline;
    }

.Kicker {
    color: dimgrey;
}

i.Kicker:hover {
    color: black;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.text-light:hover + .Kicker {
    color: black;
    text-decoration: inherit;
    transition: 0.1s;
}

p{
  font-family: 'Rajdhani', sans-serif;
  color:dimgrey;
  text-align:center;
  font-size:1.4rem;
}

h3{
  cursor:help;
  color:dimgrey;
  font-size:4.5rem;
  -webkit-transition: color 0.2s; 
  transition: color 0.2s; 
}

h3:hover{
  color: white;
}

#myBtn{
  -webkit-transition: color 0.2s; 
  transition: color 0.2s; 
  color:black;
  font-size:1.8rem;
  position: absolute;
  top: 4%;
  left: 47.8%;
  background-color:transparent;
  border:none;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-delay:5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#myBtn:hover{
  color: white;
}

.s1{
  position: absolute;
  top: 35%;
  left: 17%;
  animation-name: float;
  animation-duration: 3s;
  margin-top:-200px;
  margin-bottom:-200px;
  transition: transform .2s;
  margin: 0 auto;
  animation-delay: 0s;
}



.s2{
  position: absolute;
  top: 45%;
  left: 67%;
  animation-name: float;
  animation-duration: 3s;
  margin-top:-200px;
  margin-bottom:-200px;
  transition: transform .2s;
  margin: 0 auto;
   animation-delay: 1s;
}

.s3{
  position: absolute;
  top: 55%;
  left: 34%;
  animation-name: float;
  animation-duration: 3s;
  margin-top:-200px;
  margin-bottom:-200px;
  transition: transform .2s;
  margin: 0 auto;
   animation-delay: 2s;
}

.s4{
  position: absolute;
  top: 70%;
  left: 21%;;
  animation-name: float;
  animation-duration: 3s;
  margin-top:-200px;
  margin-bottom:-200px;
  transition: transform .2s;
  margin: 0 auto;
   animation-delay: 3s;
}

.s5{
  position: absolute;
  top: 80%;
  left: 54%;
  animation-name: float;
  animation-duration: 3s;
  margin-top:-200px;
  margin-bottom:-200px;
  transition: transform .2s;
  margin: 0 auto;
   animation-delay:4s;
}

.modal
    {
        display: none;
        position: fixed;
        z-index: 1;
        height:100%;
        width:100%;
        padding-top: 350px;
        left: 0;
        top: 0;
        overflow: auto;
        background-color: rgba(0,0,0,0.9)

    }
    .modal-content
    {
        background-color: black;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        font-style:normal;
    }
    .close
    {
        background-color: black;
        color: dimgrey;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover, .close:focus
    {
        background-color: black;
        color: #FFF;
        text-decoration: none;
        cursor: pointer;
    }


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(20px);
  }

  50% {
    transform: translatey(0px);
    font-color:white;
  }
  }

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }




